@using PresentationLayer.Resources
@model IEnumerable<PresentationLayer.Models.dbModels.Goal>

@{
    ViewBag.Title = Resources.Goals;
}
<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered .table-striped">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Match.ChampionshipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoalPlayerName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
             
                <td>
                    @{
                        var ImageName = @item.GUID + ".png";
                    }
                    <a href="~/Content/Images/@ImageName"><img src="/Content/Images/Icons/@ImageName" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.Championship.ChampName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.FirstTeamName)-@Html.DisplayFor(modelItem => item.Match.SecondTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoalLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoalPlayerName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                </td>
            </tr>
        }

    </table>
    
</div>
