@using PresentationLayer.Models.dbModels
@using PresentationLayer.Resources
@model List<PresentationLayer.Models.dbModels.Championship>

@{
    ViewBag.Title = Resources.ChampsTitle;
}
<div class="container">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered .table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Championship().ChampName)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Championship().Stars)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChampName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
