@model PresentationLayer.Models.dbModels.Match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstTeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondTeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTeamGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTeamGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondTeamGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondTeamGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
