@model IEnumerable<PresentationLayer.Models.dbModels.Match>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeamGoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeamGoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPlayed)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTeamGoals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondTeamGoals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPlayed)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

    </table>
    
</div>
